body {
    background-color: #e6e6e6;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    height: 5000px;
}
a {
    text-decoration: none;
}
img {
    vertical-align: middle;
}
li,
ul {
    margin: 0;
    padding: 0;
}
b,
strong {
    font-weight: 700;
}
.adv {
    max-width: 728px;
    margin: 12px auto;
    img {
        width: 100%;
        height: auto;
    }
}
.container {
    max-width: 1320px;
    margin: 0 auto;
}
header {
    position: relative;
    background-color: #ed1c24;
    padding: 0 20px;
    clear: both;
    height: 80px;
    .social {
      float: left;
      display: none;
      line-height: 60px;
      ul {
        li {
          list-style: none;
          display: inline-block;
          a { }
        }
      }

    }

    &.cloned {
        height: 60px;
        .sec {
            display: none;
        }
        .social {
            display: inline-block;
        }
        nav.pri {
            line-height: 60px;
            ul {
                li {
                    .drop {
                        background: url("../img/setinha-down.png") no-repeat right 26px;
                    }
                }
            }
        }
        img.logo {
            margin-top: 10px;
        }
        form#busca {margin-top: 14px; }
    }
    form#busca {
        float: right;
        margin-top: 23px;
        margin-left: 20px;
        label {
            position: relative;
            background-color: #FFF;
            #busca {
                color: #a3a3a3;
                border: none;
                outline: none;
                padding: 8px 12px;
                width: 108px;
            }
            #goBusca {
                position: absolute;
                right: 10px;
                top: 3px;
            }
        }
    }
    img.logo {
        margin-top: 20px;
        margin-right: 20px;
        float: left;
    }
    nav.pri {
        float: right;
        line-height: 80px;
        ul {
            li {
                float: left;
                list-style: none;
                &:hover {
                    background: #242424;
                }
                &:hover .dropdown {
                    top: auto;
                    left: 0;
                    visibility: visible;
                }
                a {
                    font-size: 14px;
                    font-weight: 700;
                    color: #FFF;
                    letter-spacing: -0.5px;
                    display: block;
                    padding: 0 15px;
                    text-transform: uppercase;
                    outline: 0;
                }
                .drop {
                    margin-right: 10px;
                    padding-right: 20px;
                    background: url("../img/setinha-down.png") no-repeat right 35px;
                }
                .dropdown {
                    position: absolute;
                    left: 0;
                    display: block;
                    visibility: hidden;
                    width: 1320px;
                    text-align: left;
                    border-bottom: 2px solid #ed1c24;
                    background: #242424;
                }
            }
        }
    }
    .sec {
        margin: 0 -20px;
        background-color: #242424;
        display: block;
        float: none;
        clear: both;
        font-weight: 700;
        height: 28px;
        span {
            background-color: #ed1c24;
            color: #FFF;
            background-image: url("../img/arrow-red.jpg");
            background-position: right;
            background-repeat: no-repeat;
            display: inline-block;
            padding: 0 40px 0 20px;
            font-size: 13px;
            line-height: 27px;
            float: left;
            i {
                font-size: 16px;
            }
        }
        nav {
            float: left;
            margin-left: 20px;
            line-height: 28px;
            li {
                display: inline-block;
                margin-right: 32px;
                font-size: 13px;
                a {
                    color: #FFF;
                    text-transform: uppercase;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
