<div class="row marketing">
  <h1>Tecnologias</h1>

  <h4>Back-End</h4>
  <p>Node/NPM - Para gerenciar as dependencias usadas no Grunt</p>
  <p>Grunt - Para 'compilar' os projetos</p>
  <p>Slim - Para desenvolver o back-end em php de forma organizada e RESTful</p>
  <p>Eloquent - Camada de acesso a dados.</p>

  <p>Composer - Para gerenciar dependencias do PHP</p>
  <h4>Front-End</h4>
  <p>Yeoman - Gera uma estrutura inicial de projeto angular.</p>
  <p>Brower - Para gerenciar as dependencias do projeto web</p>
  <p>AngularJS - Para organizar o projeto web dividindo responsabilidades. Arquitetura 'MVC/MVVM/MVW'</p>

</div>
